In [1]:
import pandas as pd
import requests
import json
import os
from pprint import pprint
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import create_engine, inspect

In [2]:
url = "https://data.cdc.gov/resource/xkb8-kh2a.json"

In [3]:
response = requests.get(url)
print(response.url)

https://data.cdc.gov/resource/xkb8-kh2a.json

In [4]:
data = response.json()

In [5]:
#pprint(data)

In [6]:
#store JSON in a dataframe
df = pd.DataFrame.from_records(data)
df.head()

,state,year,month,period,indicator,data_value,percent_complete,percent_pending_investigation,state_name,footnote,footnote_symbol,predicted_value
0,AK,2015,April,12 month-ending,Percent with drugs specified,88.0952380952381,100,0,Alaska,Numbers may differ from published reports usin...,**,NaN
1,AK,2015,April,12 month-ending,"Natural, semi-synthetic, & synthetic opioids, ...",NaN,100,0,Alaska,Numbers may differ from published reports usin...,**,NaN
2,AK,2015,April,12 month-ending,Natural & semi-synthetic opioids (T40.2),NaN,100,0,Alaska,Numbers may differ from published reports usin...,**,NaN
3,AK,2015,April,12 month-ending,Psychostimulants with abuse potential (T43.6),NaN,100,0,Alaska,Numbers may differ from published reports usin...,**,NaN
4,AK,2015,April,12 month-ending,Number of Drug Overdose Deaths,126,100,0,Alaska,Numbers may differ from published reports usin...,**,126

In [7]:
#clean dataframe
opioidabuse_df = df[["state_name","state","year","month","indicator", "data_value","percent_complete","percent_pending_investigation"]].copy()
opioidabuse_df.head()

,state_name,state,year,month,indicator,data_value,percent_complete,percent_pending_investigation
0,Alaska,AK,2015,April,Percent with drugs specified,88.0952380952381,100,0
1,Alaska,AK,2015,April,"Natural, semi-synthetic, & synthetic opioids, ...",NaN,100,0
2,Alaska,AK,2015,April,Natural & semi-synthetic opioids (T40.2),NaN,100,0
3,Alaska,AK,2015,April,Psychostimulants with abuse potential (T43.6),NaN,100,0
4,Alaska,AK,2015,April,Number of Drug Overdose Deaths,126,100,0

In [25]:
from config import connection_string
#print (connection_string)
engine = create_engine(connection_string)

In [26]:
#sqlalchemy.inspect(engine).get_schema_names()

In [27]:
#!which psycopg2
#!which postgresql
#!which python

In [28]:
#Check for tables
engine.table_names()

['opioid_abuse']

In [29]:
#Use pandas to load json converted DataFrame into database
opioidabuse_df.to_sql(name='opioid_abuse', con=engine, if_exists='append', index=False)

In [30]:
pd.read_sql_query('select * from opioid_abuse',con=engine).head()

,state_name,state,year,month,indicator,data_value,percent_complete,percent_pending_investigation
0,Alaska,AK,2015,April,Percent with drugs specified,88.0952380952381,100,0
1,Alaska,AK,2015,April,"Natural, semi-synthetic, & synthetic opioids, ...",None,100,0
2,Alaska,AK,2015,April,Natural & semi-synthetic opioids (T40.2),None,100,0
3,Alaska,AK,2015,April,Psychostimulants with abuse potential (T43.6),None,100,0
4,Alaska,AK,2015,April,Number of Drug Overdose Deaths,126,100,0